.container-fluid {
    background-image: url("assets/background.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
}

.appContainer {
    width: 300px;
    height: 350px;
    border-radius: 12px;
    background-color: black;
    opacity: 0.75;
    box-shadow: 2px 4px 10px black;
}

.image {
    background-color: black;
    width: 100px;
    height: 100px;
}

.img {
    height: 43px;
    margin-right: 5px;
    padding-top: 15px;
}

p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px;
}

#humidity,
#wind {
    font-size: 22px;
}

.searchImg {
    width: 200px;
    height: 200px;
}

.errorImg {
    width: 120px;
    height: 120px;
}