.main-container {
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    width: 280px;
    height: 420px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: flex-end; 
    border-radius: 5px;
    transition: transform 0.5s;
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s, transform 0.5s;
    z-index: 1;
    border-radius: 5px;
    transform: translateX(0);
}
.card:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
    transform: perspective(2500px) translateY(-5%) rotateX(30deg) translateZ(0);
}
.image {
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s;
    position: absolute;
    border-radius: 5px;
    object-fit: cover;
}
.title {
    width: 80%;
    transition: transform 0.5s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.card:hover .image {
    transform: perspective(2500px) translateY(-5%) rotateX(30deg) translateZ(0);
    box-shadow: 2px 35px 30px -8px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}
.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card:hover .title {
    transform: translate3d(-50%, -60px, 100px);
}
.character {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
    z-index: 2;
}
.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -40%, 300px);
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .card {
        width: 220px;
        height: 330px;
    }    
    .title {
        width: 90%;
    }
}
@media screen and (max-width: 480px) {
    .main-container {
        padding-top: 20px;
    }
    .card {
        width: 230px;
        height: 300px;
        margin: 40px;
    }   
    .title {
        width: 80%; 
    }
    .card:hover .character {
        transform: translate3d(0%, -20%, 300px);
    }

}
